html, body {
    background: #000;
    color: #FFF;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    padding: 20px 0;
}
  

.site-menu {
   opacity: 0;
   
   &.is-visible {
      opacity: 1;
   }
}

